@import "../../components/colors";
@import "../../components/vars";
@import "../../components/mixins";

.header-nav__link[href="/pages/profile/"] {
  color: $c_black;
  transition: opacity $tr_duration $tr_easing;

      &:hover,
      &:focus {
        opacity: .7;
      }
}

.profile {
  padding-bottom: 40px;

	@include media(0, $media_mobile-medium) {
    padding-bottom: 30px;
	}

	@include media(0, $media_mobile-small) {
    padding-top: 30px;
	}

	&__title {
		margin-bottom: 40px;

		@include media(0, $media_mobile-small) {
			max-width: 200px;
			margin-bottom: 36px;
		}
	}

	&__content {
		display: flex;

		@include media(0, $media_mobile) {
      flex-wrap: wrap;
		}
	}

	&__photo {
		position: relative;
		overflow: hidden;

		width: 320px;
		padding-top: 450px;
		margin-right: 105px;

		background: $c_wild-sand;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);

		// 	width: 120px;
		// 	height: 144px;
			
		// 	background-image: url(/static/images/profile.svg);
		// }

		// @include media($media_mobile, $media_tablet) {
		// 	width: 314px;
		// 	margin-right: 76px;
		// }

		@include media(0, $media_mobile) {
			width: 280px;
			margin-right: 40px;
			margin-bottom: 40px;
		}

		@include media(0, $media_mobile-small) {
      margin-right: auto;
      margin-left: auto;
		}

		&-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
			height: auto;
			// height: 100%;
		}
  }
  
  &__info {

    margin-bottom: 30px;
  
    &-item {
      
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  
    &__field {
      margin-right: 15px;
    }
  }
  
  &__buttons {
  
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
  
      button {
        padding: 7.5px 16.5px;
      }
    }
  }
}

.avatar {
&__input {
	position: relative;
	display: flex;
	padding: 13px 11px 13px 40px;
	width: 100%;

  font-size: 18px;
  line-height: 21px;
  color: $c_black;

  border: 2.5px solid $c_mercury;
  outline: none;

  transition: border-color $tr_duration $tr_easing;

	// height: 50px;
	// overflow: hidden;
	// word-wrap: normal;
	// text-overflow: ellipsis;

	&:hover{
		border-color: $c_gray;
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.5 0H2.5C1.12146 0 0 1.12146 0 2.5V11.25C0 12.6285 1.12146 13.75 2.5 13.75H11.0312C11.3765 13.75 11.6562 13.4702 11.6562 13.125C11.6562 12.7798 11.3765 12.5 11.0312 12.5H8.72925L7.29223 10.6357L11.8461 4.84363L14.9116 8.23181C15.085 8.42358 15.3585 8.48864 15.5997 8.39575C15.8408 8.30273 16 8.07092 16 7.8125V2.5C16 1.12146 14.8785 0 13.5 0V0ZM14.75 6.19018L12.276 3.45569C12.1525 3.31909 11.9747 3.24365 11.7909 3.25037C11.6069 3.25683 11.4351 3.34399 11.3212 3.48877L6.505 9.6145L4.86999 7.49341C4.75171 7.33996 4.56885 7.25 4.375 7.25C4.37488 7.25 4.37475 7.25 4.37463 7.25C4.18078 7.25012 3.9978 7.34021 3.87964 7.49389L2.50415 9.28198C2.2937 9.55566 2.34485 9.948 2.61841 10.1584C2.89209 10.369 3.28442 10.3177 3.49499 10.0442L4.37549 8.89941L7.151 12.5H2.5C1.81079 12.5 1.25 11.9392 1.25 11.25V2.5C1.25 1.81079 1.81079 1.25 2.5 1.25H13.5C14.1892 1.25 14.75 1.81079 14.75 2.5V6.19018Z' fill='%23070707'/%3e%3cpath d='M4.375 2.25C3.34106 2.25 2.5 3.09106 2.5 4.125C2.5 5.15893 3.34106 6 4.375 6C5.40893 6 6.25 5.15893 6.25 4.125C6.25 3.09106 5.40893 2.25 4.375 2.25ZM4.375 4.75C4.0304 4.75 3.75 4.4696 3.75 4.125C3.75 3.7804 4.0304 3.5 4.375 3.5C4.7196 3.5 5 3.7804 5 4.125C5 4.4696 4.7196 4.75 4.375 4.75Z' fill='%23070707'/%3e%3cpath d='M14.6399 9.46692C14.6381 9.46509 14.6363 9.46313 14.6344 9.4613C14.339 9.16382 13.9461 9 13.5279 9C13.1109 9 12.719 9.16284 12.424 9.45862L11.2173 10.6488C10.9716 10.8911 10.9689 11.2869 11.2113 11.5326C11.4536 11.7783 11.8494 11.7811 12.0951 11.5387L12.9029 10.7421V14.25C12.9029 14.5952 13.1826 14.875 13.5279 14.875C13.8731 14.875 14.1529 14.5952 14.1529 14.25V10.7611L14.9259 11.5597C15.0485 11.6864 15.2117 11.75 15.375 11.75C15.5316 11.75 15.6884 11.6915 15.8097 11.5741C16.0578 11.334 16.0641 10.9384 15.824 10.6903L14.6399 9.46692Z' fill='%23070707'/%3e%3c/svg%3e");
		background-position: 12px;
		background-repeat: no-repeat;
		left: 0;
		top: 15px;
		height: 18px;
		width: 31px;
	}

	&-true{
		&:focus + .avatar__input {
      border-color: $c_gray;
		}  
		
		&:active + .avatar__input {
      border-color: $c_black;
    } 
	}
}
}