<section class="skills container">
  <div class="skills__content">
    <h2 class="skills__title h2">Skills</h2>
    <span class="skills__text text">I work in such programs as</span>
    <ul class="skills__list">
      <li class="skills__item">
        <picture>
          <source
            srcset="
              /static/images/skill-html.png,
              /static/images/skill-html_2x.png 2x
            "
          />
          <img
            class="skills__img"
            src="/static/images/skill-html.png"
            alt="HTML"
          />
        </picture>
        <span class="skills__description">HTML 5</span>
        <div class="skills__progress-box">
          <span class="skills__percent"></span>
          <div class="skills__bar skills__bar__html"></div>
        </div>
      </li>
      <li class="skills__item">
        <picture>
          <source
            srcset="
              /static/images/skill-css.png,
              /static/images/skill-css_2x.png 2x
            "
          />
          <img
            class="skills__img"
            src="/static/images/skill-css.png"
            alt="CSS"
          />
        </picture>
        <span class="skills__description">CSS/SCSS</span>
        <div class="skills__progress-box">
          <span class="skills__percent"></span>
          <div class="skills__bar skills__bar__css"></div>
        </div>
      </li>
      <li class="skills__item">
        <picture>
          <source
            srcset="
              /static/images/skill-js.png,
              /static/images/skill-js_2x.png 2x
            "
          />
          <img
            class="skills__img"
            src="/static/images/skill-js.png"
            alt="JavaScript"
          />
        </picture>
        <span class="skills__description">JavaScript</span>
        <div class="skills__progress-box">
          <span class="skills__percent"></span>
          <div class="skills__bar skills__bar__js"></div>
        </div>
      </li>
      <li class="skills__item">
        <picture>
          <source
            srcset="
              /static/images/skill-git.png,
              /static/images/skill-git_2x.png 2x
            "
          />
          <img
            class="skills__img"
            src="/static/images/skill-git.png"
            alt="Git"
          />
        </picture>
        <span class="skills__description">Git/GitHub</span>
        <div class="skills__progress-box">
          <span class="skills__percent"></span>
          <div class="skills__bar skills__bar__git"></div>
        </div>
      </li>
      <li class="skills__item">
        <picture>
          <source
            srcset="
              /static/images/skill-figma.png,
              /static/images/skill-figma_2x.png 2x
            "
          />
          <img
            class="skills__img"
            src="/static/images/skill-figma.png"
            alt="Figma"
          />
        </picture>
        <span class="skills__description">Figma</span>
        <div class="skills__progress-box">
          <span class="skills__percent"></span>
          <div class="skills__bar skills__bar__figma"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
