<section class="about">
		<div class="about__content container">
			<h2 class="about__title h2">About me</h2>
			<ul class="about__list">
				<li class="about__item">
					<p class="about__description text">
						Aliquam tortor molestie turpis est tristique. Congue diam orci amet quis semper ut. Vitae aenean nibh facilisis urna, ultricies euismod nunc. Commodo fringilla sit hendrerit consequat. Vel ac elit vel sagittis.
					</p>
				</li>
				<li class="about__item">
					<p class="about__description text">
						Tincidunt id quis pellentesque rutrum pretium. Egestas aliquam dictum ipsum nisl, sed pulvinar. Commodo elit sed a fermentum non justo. Etiam platea consectetur.
					</p>
				</li>
				<li class="about__item">
					<p class="about__description text">
						Quam ipsum odio tellus etiam aliquam dolor ut hendrerit. Felis risus nec vitae nunc ultricies placerat. Nullam nec felis eu id dolor pellentesque tristique. 
					</p>
				</li>
			</ul>
		</div>
</section>