<!-- Login -->
<div class="modal modal-signin_js">
	<form class="modal__form modal__form_signin" name="signin">
		<label class="modal__label">
			<span class="modal__text modal__text_accent text-small">Email</span>
			<input class="modal__input" type="email" name="email">
		</label>
		<label class="modal__label">
			<span class="modal__text modal__text_accent text-small">Password</span>
			<input class="modal__input" type="password" name="password">
		</label>
		@@include('buttons/index.html', {
			"type": "submit",
			"text": "Log in",
			"class": "modal__button"
		})
		<button class="modal__close" aria-label="Close button"><img class="modal__x" src="/static/images/close.svg"  alt="Close button"></button>
	</form>
</div>
<!-- Registration -->
<div class="modal modal-register_js">
	<form class="modal__form modal__form_register" name="register">
		<label class="modal__label">
			<span class="modal__text modal__text_accent text-small">Email</span>
			<input class="modal__input" type="email" name="email">
		</label>
		<div class="modal__cell">
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Name</span>
					<input class="modal__input" type="text" name="name">
				</label>
			</div>
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Surname</span>
					<input class="modal__input" type="text" name="surname">
				</label>
			</div>
		</div>
		<div class="modal__cell">
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Password</span>
					<input class="modal__input" type="password" name="password">
				</label>
			</div>
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Repeat password</span>
					<input class="modal__input" type="password" name="passwordRepeat">
				</label>
			</div>
		</div>
		<div class="modal__cell">
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Location</span>
					<input class="modal__input" type="text" name="location">
				</label>
			</div>
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Age</span>
					<input class="modal__input" type="number" name="age">
				</label>
			</div>
		</div>
		<label class="modal__label">
			<input class="modal__checkbox  checkbox_js hidden" type="checkbox" name="accept" value="confirm">
			<span class="modal__checkbox-text text_small">Clicking on the button, you consent to the processing of your personal data.</span>
		</label>
		@@include('buttons/index.html', {
			"type": "submit_disabled",
			"text": "Sign up",
			"class": "modal__button send_js"
		})
		<button class="modal__close" aria-label="Close button"><img class="modal__x" src="/static/images/close.svg" alt="Close button"></button>
	</form>
</div>
<!-- Send Message -->
<div class="modal modal-message_js">
	<form class="modal__form modal__form_message" name="message">
		<div class="modal__cell">
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">What is your name?</span>
					<input class="modal__input modal__input" type="text" name="name">
				</label>
			</div>
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Message subject</span>
					<input class="modal__input" type="text" name="subject">
				</label>
			</div>
		</div>
		<div class="modal__cell">
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Your Email</span>
					<input class="modal__input" type="email" name="to">
				</label>
			</div>
			<div class="modal__cell-50">
				<label class="modal__label">
					<span class="modal__text modal__text_accent text-small">Your mobile phone</span>
					<input class="modal__input" type="tel" name="phone">
				</label>
			</div>
		</div>
		<label class="modal__label">
			<span class="modal__text text-small">What do you want to discuss with me?</span>
			<textarea class="modal__textarea" name="message"></textarea>
		</label>
		<label class="modal__label">
			<input class="modal__checkbox checkbox_js hidden" type="checkbox" name="accept" value="confirm">
			<span class="modal__checkbox-text">Clicking on the button, you consent to the processing of your personal data.</span>
		</label>
		@@include('buttons/index.html', {
			"type": "submit_disabled",
			"text": "Send",
			"class": "modal__button send_js"
		})
		<button class="modal__close" aria-label="Close button"><img class="modal__x" src="/static/images/close.svg" alt="Close button"></button>
	</form>
</div>
@@include('modal/server-answer.html')