$c_white: #ffffff;
$c_white--footer: #EBEBEB;

$c_gray--light: #e1e1e1;
$c_gray: #c1c1c1;
$c_gray--text: #818181;
$c_gray--dark: #333333;

$c_gray--footer-light: #aaaaaa;
$c_gray--footer-link: #a2a2a2;
$c_gray--footer: #666666;
$c_gray--footer-dark: #434343;

$c_black--light: #1e0606;
$c_black: #000000;

$c_blue--main: #70bbdc;
$c_blue--light: #e5eaf8;
$c_blue: #7d97da;
$c_blue--dark: #09034f;

$c_green: #dbe4db;
$c_brown--card: #ba8e6b;
$c_yellow: #f8f2da;
$c_pink: #cf446f;
$c_red: #930303;

$c_brown--disabled: #e1cdba;
$c_brown--light: #cfaf91;
$c_brown: #c29974;
$c_brown--poster: #eee4db;
$c_brown--dark-light: #d6cac2;
$c_brown--dark: #725f5b;
$c_brown--dark-disabled: #908484;

$c_white--grid: #F7F8FA;
$c_red-light--grid: #FA684F;;
$c_red--grid: #EF5539;
$c_blue--grid: #93B7B7;
$c_violet--grid: #8F75BC;
$c_violet-dark--grid: #8066B0;
$c_black--grid: #2C2C2C;
