@import "./vars";
@import "./mixins";

body {
  font-family: "Crimson Text", "serif";
  font-family: "Montserrat", "sans-serif";
  font-family: "Open Sans", "sans-serif";
  font-family: "Roboto", "sans-serif";
  font-family: "Lato", "sans-serif";
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;

  @include media_interval($media_tablet, $media_laptop) {
    max-width: 900px;
  }

  @include media_interval($media_mobile, $media_tablet) {
    max-width: 668px;
  }

  @include media_interval($media_mobile-medium, $media_mobile) {
    max-width: 568px;
  }

  @include media_interval(0, $media_mobile-medium) {
    max-width: 100%;
    padding: 0;
  }
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.svg-rotate {
  transform: rotate(180deg);
}